@import "../../styles/variables";

.dashboard-layout_main{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 24px);

  .dashboard-layout_container{
    flex-grow: 1;
    overflow: auto;
  }

  @media screen and (max-width: 768px){
    height: auto;

    .dashboard-layout_container{
      height: auto;
    }
  }

}

.dashboard-layout_wrapper{
  padding: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 190px));
  grid-template-rows: repeat(auto-fill, minmax(190px, 190px));
  justify-content: center;
  gap: 2rem;
  height: 100%;
  overflow: auto;

  .empty_folder{
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
      font-family: $headings-font;
      font-size: 27px;
    }
  }

  &:has(.empty_folder){
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
  }



}

.dashboard-layout{

  max-width: 1200px;
  min-height: 771px;
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 1rem;

  .dashboard-layout_files{
    display: flex;
    gap: 1rem;

  }

  .dashboard-layout_empty{
    width: 862px;
    display: flex;
    justify-content: center;
    align-items: center;


    p{
      font-family: $headings-font;
      font-size: 20px;
      color: $text-color;
    }
  }

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
}